* {
  font-family: 'Montserrat', sans-serif; }

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

.settings {
  background-color: grey;
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%; }

.addList {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.addList:hover {
  cursor: pointer;
  background-color: lightgrey; }

.container {
  margin: 50px auto;
  padding: 15px 0 0 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.list {
  width: 270px;
  margin: 0 15px 15px 0;
  padding: 15px;
  background-color: slategray;
  display: flex;
  flex-direction: column; }

.list-title {
  align-self: center;
  padding: 0 0 15px 0; }
